<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title%></title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<%- include layout/navbar%>
  <h1>GG</h1>
  <div class="container">
    
  </div>
</body>
</html>